body {
	background: #eee;
	font-family: Verdana;
	max-width: 900px;
	margin: auto;
}

#title, .subtitle {
	color: #333;
	text-align: center;
	/*text-transform: uppercase;*/
}

a {
	text-decoration: underline;
	color: #333;
}

ul {
 	list-style-type: none;
 	padding-left: 15px;
}

.post_title {
	color: #777;
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}

.post {
	background: #fff;
	padding: 15px;
	border: 2px dotted #333;
	border-radius: 5px;
	margin-bottom: 15px;
}

.post_content {
	margin: 0;
	margin-bottom: 15px;
	text-align: justify;
}

.post_img {
	margin-bottom: 15px;
	width: 100%;
}

.img {
	padding: 15px 5px 5px 10px;
	border-radius: 50%;
	margin: auto;
	display: flex;
    align-items: center;
	/*border: 2px solid #000;*/
}

button[type="submit"] {
	border: 1px solid rgb(105, 197, 255);
	border-radius: 5px;
	background-color: red;
	color: white;
	text-align: center;
	padding: 5px;
}

button {
	border-radius: 5px;
	background-color: #00A85A;
	color: #fff;
	text-align: center;
	padding: 5px;
  }
  
  input[type="text"] {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
  }
  
  #tasks {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
  }
  
  .task-item {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  
  :checked + label {
	text-decoration: line-through;
	color: grey;
  }

#counter {
    display: flex;
}

#currentNumber {
    align-items: center;
    margin: 0 10px;
    font-size: 16pt;
}